<div class="field">
  <%= f.file_field :avatar, class:"input", placeholder: t(:avatar) %><br>
</div>
<div class="field">
  <%= f.text_field :firstname, class:"input", placeholder: t(:yfn) %><br>
</div>
<div class="field">
  <%= f.text_field :lastname, class:"input", placeholder: t(:yln) %><br>
</div>
<div class="field">
  <%= f.text_field :age, class:"input", placeholder: t(:ya) %><br>
</div>
