<div class="row">
  <div class="col-sm-3 col-lg-4"></div>
  <div class="col-sm-6 col-lg-4">
    <h3 class="center">
      <b><%= t(:edit)%></b>
    </h3>
    <%=simple_form_for @userparam, url:userparam_path(@userparam.id), validate: true do |f|%>
    <%=render 'userparams/form', f:f%>
    <%=f.submit t(:update), class:"btn btn-primary"%>
    <%end%>
  </div>
  <div class="col-sm-3 col-lg-4"></div>
</div>
