<h3>Профіль користувача
  <b><%=@userparam.username%></b>
</h3>
<%=simple_form_for @userparam, url:userparam_path(@userparam.id), validate: true do |f|%>
<%=render 'userparams/form', f:f%>
<%=f.submit "Update", class:"btn btn-primary"%>
<%end%>
