  <div class="card">
    <div class="card-body">
      <%=link_to system.name, system_path(system.name), class:"btn btn-light card-title", style:"width:100%; color:#666FB0,overflow:auto"%>
        </div>
  </div><br>
